@import 'variables';


* {
  box-sizing: border-box;
}
.App {
  display: grid;
  grid-template-rows: 6rem 1fr 6rem; 
  height: 100vh;  
}

.App-header {
  grid-row: 1;
  justify-self: end;
  animation: App-logo-spin infinite 15s linear;

  .App-title {
    letter-spacing: 0.3rem;
    text-transform: uppercase;
    color: $primary-color;
    text-shadow: 2px 2px $secondary-color;
    width: 20rem;
    }
}

.App-content {
  grid-row: 2;
  display: grid;
  grid-template-columns: 20rem 1fr; 
  grid-template-rows: 10rem 1fr ; 

  button{
    padding: 0.5rem;
    background-color: rgba($secondary-color, 0.6);
    border: 1px solid rgba($primary-color, 0.6);
    border-radius: 0.25rem;
    font-family: Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1rem;
    color: $light-color;
    letter-spacing: 0.3rem;
    text-transform: lowercase;
    margin: 0 1rem;
    &:hover{
      opacity: 0.3;
    }
  }

  .reload-field{
    grid-column: 1;
    grid-row: 1;

    button{
      padding: 1rem;
    }
  }
  .category-field{
    grid-column: 1;
    grid-row: 2;
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
  .joke-field{
    grid-column: 2;
    grid-row: 2;
    background-image: url(./Images/chuck.svg);
    background-size:contain;
    background-repeat: no-repeat;
    background-position: right center;

    p{
      background-color: rgba($light-color, 0.3);
      border-radius: 0.25rem;
      width: 80%;
      height: 80%;
      padding: 1rem;
      margin: auto 10%;
      font-size: x-large;
      letter-spacing: 0.1rem;
      color: $primary-color;
    }
  }
  .error-field{
    grid-column: 2;
    grid-row: 1;
  }
}

.App-footer {
  grid-row: 3;
  justify-self: end;
  background-color: rgba($light-color, 0.1);
  border-radius: 0.5rem 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p{
    color: $light-color;
    padding: 0.2rem 1rem;
    margin: 0;

    a{
      color: $light-color;
      text-decoration: none;

      &:hover{
        color: $secondary-color;
      }
    }
  }
}


@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  5% {
    transform: rotateY(360deg);
  }
  to {
    transform: rotateY(360deg);
  }
} 
